@charset "utf-8";

img.imagesize {
	border:6px solid #ff0000;
}
.theme th{
	
	color:#ff0000;
}
h5.sub-heading {
    color: #ff0000;
}
.navbar2 {
	background: #ff0000;
}
.dropdown-menu {
	background:#ff0000;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color:#d20000;
}
#menuwrapper ul li:hover,
#menuwrapper ul li.iehover{
    background-color:#d20000;
}
#menuwrapper ul li {
    background-color: #ff0000;
  
}

#menuwrapper ul li:hover ul li:hover,
#menuwrapper ul li.iehover ul li.iehover{
    background-color:#ff0000;
}
#menuwrapper ul li:hover ul li:hover, #menuwrapper ul li.iehover ul li.iehover {
    background-color: #d20000;
}
#menuwrapper ul li ul li{
    background-color:#ff0000;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
   
    background-color: #d20000;
    background-image: -moz-linear-gradient(top, #d20000, #d20000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d20000), to(#d20000));
    background-image: -webkit-linear-gradient(top, #d20000, #d20000);
    background-image: -o-linear-gradient(top, #d20000, #d20000);
    background-image: linear-gradient(to bottom, #d20000, #d20000);
}

#menuwrapper ul li:hover ul li:hover ul li:hover,
#menuwrapper ul li.iehover ul li.iehover ul li.iehover{
    background:#d20000;
}
#menuwrapper ul li:hover ul li:hover ul li,
#menuwrapper ul li.iehover ul li.iehover ul li{
    background:#ff0000;
}
.navbar .nav>li:hover {
    background: #d20000;
}
.current-day {
    background: #ff0000;
}
.calendar tbody td:hover {
    border: 2px solid #ff0000;
}
.header_customer h3 {
    color: #ff0000;
}
.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ff0000;
    background-image: -moz-linear-gradient(top, #ff0000, #ff0000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff0000), to(#ff0000));
    background-image: -webkit-linear-gradient(top, #ff0000, #ff0000);
    background-image: -o-linear-gradient(top, #ff0000, #ff0000);
    background-image: linear-gradient(to bottom, #ff0000, #ff0000);
    background-repeat: repeat-x;
    border-color: #ff0000 #ff0000 #ff0000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#ff0000', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    color: #ffffff;
    background-color: #ff0000;
}
caption {
    color: #ff0000;
}
.trading, .Master_plan {
    background: #ff0000;
}
a.button-default.setlog.setlog {
   
    background: #ff0000;
}
.table_trading h4{
	
	color: #ff0000;
}
.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled] {
    background-color: #ff0000;
}
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
  background-color: #c10000;
  background-image: -moz-linear-gradient(top, #c10000, #c10000);
  background-image: -ms-linear-gradient(top, #c10000, #c10000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c10000), to(#c10000));
  background-image: -webkit-linear-gradient(top, #c10000, #c10000);
  background-image: -o-linear-gradient(top, #c10000, #c10000);
  background-image: linear-gradient(top, #c10000, #c10000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c10000', endColorstr='#c10000', GradientType=0);
  border-color: #c10000 #c10000 #c10000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.calendar h2 {
    color: #ff0000;
}
.btn-prev:hover, .btn-next:hover {
    background: #ff0000;
    color: #f9f9f9;
}
#e1 b{
	color:#ff0000;
}